#
# Mobile API configuration
#
# Production:
# EXPO_PUBLIC_API_URL=https://my-personal-backend-5a1d8bfddc25.herokuapp.com/api
#
EXPO_PUBLIC_API_URL=https://my-personal-backend-5a1d8bfddc25.herokuapp.com/api
EXPO_PUBLIC_API_PORT=4000

#
# Google Sign-In Configuration
# Get this from Google Cloud Console -> Credentials -> OAuth 2.0 Client ID (Web)
#
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=230557035905-ckgt65316n8nlmgf63r2cg8niqlkg6dv.apps.googleusercontent.com
